* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

html, body {
    height: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#sobre .conteudo-sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#sobre p {
    flex: 1;
    text-align: left;
    margin: 0;
}

#sobre .foto {
    flex-shrink: 0;
    width: 350px;
    height: 220px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sobre .foto img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #ddd;
}

main {
    min-height: 80vh;
    padding: 20px;
}

.projeto {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projeto h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.projeto-imagem img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

.projeto p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.redes-sociais {
    list-style: none;
    padding: 0;
}

.redes-sociais li {
    margin: 10px 0;
}

.redes-sociais a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.redes-sociais a i {
    margin-right: 8px;
    font-size: 20px;
}

.redes-sociais a:hover {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .projeto {
        padding: 15px;
    }

    .projeto-imagem img {
        max-width: 100%;
        height: auto;
    }

    #sobre .conteudo-sobre {
        flex-direction: column;
        align-items: center;
    }

    #sobre .foto {
        width: 100%;
        height: auto;
    }
}
